<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="MainformSize" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="MatrixformSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="MainformPosition" serializeAs="String">
                <value>-1000, -1000</value>
            </setting>
            <setting name="DialogPosition" serializeAs="String">
                <value>-1000, -1000</value>
            </setting>
            <setting name="MatrixformPosition" serializeAs="String">
                <value>-1000, -1000</value>
            </setting>
            <setting name="HelpPosition" serializeAs="String">
                <value>-1000, -1000</value>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>